<%= div_for bus_stop do %>
	<p><%= bus_stop.gml_id %>：<%= bus_stop.name %>（緯度：<%= bus_stop.latitude %>, 経度：<%= bus_stop.longitude %>）</p>
	<ol>
	  <% bus_stop.bus_route_informations.each do |info| %>
		  <li><%= info.operation_company %>：<%= info.line_name %>：<%= info.bus_type_label %></li>
	  <% end %>
	</ol>
<% end %>